# Auto detect text files and perform LF normalization
* text=auto

scripts/setupTypeScript.js linguist-detectable=false
public/assets/* linguist-detectable=false
rollup.config.js linguist-detectable=false
